
<!DOCTYPE html>
<html>
  <head>
    <%- include('./_blocks/head') %>
  </head>
  <body>
    <div id="app" class="main">
      <%- include('./_blocks/header') %>

      <%- include('./_blocks/post-list') %>

      <%- include('./_blocks/footer') %>

    </div>
    <%- include('./_blocks/scripts') %>
  </body>
</html>
