<%
  // 模拟数据
  var post =
   { content:
      '<p>📃又到了一年一度的<strong>年终总结</strong>，这是参加工作的第一个完整年。</p>\n<!-- more -->\n\n<p>🥺这一年总体来说，<strong>滑水较多</strong>，产出较少，尤其是文字方面，可怜巴巴。读过不少文章，写过不少代码，需提升、待吸收的知识一把一把。</p>\n<p>🏫毕业快两年了，这一年多来遇到了许多贵人，使我成长了很多，对事情的看法和对世界的认知也清晰了很多。单是技术方面也不像从前那么迷茫与焦虑，学会了循序渐进，稳扎稳打，时间总会给准备的人最好的答案。</p>\n<p><em>说说这一年的经历吧，除了在公司做的工作以外，当然公司的工作也锻炼了很多其他的东西。</em></p>\n<p>⏱有一部分时间里，在思考使用 Vue.js 在工程化的最佳实践，如何组织前端项目代码，如何组织组件，如何抽象，如何管理依赖等等。</p>\n<p>⏱有一部分时间里，写了一个“烂尾”的 Vue.js 组件库：<a href="https://github.com/EryouHao/live">Live UI</a>，实现了<strong>14</strong>个常用的 UI 组件，虽然部分组件可能存在 bug，但是每实现一个新组件，总能学到一些新东西也是极好的。对 Vue.js 的理解又加深了一些，能够思考如何提供 API，哪些 API 是这个组件最需要提供给用户使用的过程也是不错的。</p>\n<p>⏱有一部分时间里，写了一个 VSCode 浅色主题：<a href="https://github.com/EryouHao/brackets-light-pro">Brackets Light Pro</a>，当然这个 Repo 始于 2017，截止此文写作时已经有了 <strong>12,456 installs</strong> 和 <strong>28,544 downloads</strong>，很早就把主力编辑器换成了 VSCode，自己又比较偏好浅色主题，尤其是我大部分编程时间都在白天，所以就写了这样一个主题，希望你也喜欢「比心」。</p>\n<p>⏱有一部分时间里，写了一个静态博客写作客户端：<a href="https://github.com/hve-notes/hve-notes">Hve Notes</a> 。是的，这篇文章的创作即使用此工具完成。这是一个可以使用 <code>Markdown</code> 来进行记录生活、心情、知识、笔记、创意的跨平台（Windows &amp; MacOS）工具。这大概是目前为止对我来说实现程度最高的一个开源项目吧，写代码、写文档、设计 Logo、打包发版、写主题，处理反馈等等，在一个编程新手的阶段来体验与尝试自己感兴趣的东西，也算是一种幸福吧。</p>\n<p>⏱有一部分时间里，学习和实践新技术。使用 <code>TypeScript</code> + <code>Egg</code>  + <code>Vue</code> + <code>TypeORM</code> + <code>PostgreSQL</code> + <code>Puppeteer</code> 写了一个小全栈项目。从新知识的学习到写点实际的东西，从开发到部署上线，整套开发体验还算不错，对于工程化的实践又多了一些。另外将自己的获取和学习主渠道更多地向国外倾斜，Twitter，Youtube，Medium，还有其他地一些网站、个博等等，蛮不错。</p>\n<p>⏱有一部分时间里，关注与练习设计。在推特上关注了 <strong>Steve Schoger</strong>，个人觉得他的一些 Tips 很简单也很实用。可能在这之后或之前，更加关心前端Web 设计。尤其是在一些 UI 设计并不重的场合，比如一些内部使用的中后台系统，去尝试和融入自己的一点点学习，甚至将 UI 设计师的设计稿进行二次设计然后进行“设计交流”（好像最后气氛变成了投票和战队，这不是我想要的），这些尝试个人感觉还是蛮好的，不断试错，不断提升。</p>\n<p><em>接下来说说，对于刚刚到来的 2019 的一些想法。</em></p>\n<p>🧐保持不断学习，保持好奇心。<br>✍️用心做好每一个个人项目，比如 <a href="https://github.com/hve-notes/hve-notes">Hve Notes</a><br>🗞努力提升英语水平，能够在第一次英文介绍自己的时候，说出 「Vue点儿JS」还是有点尴尬😅<br>💻更新自己的技术栈<br>👻结交新朋友<br>💏照顾好亲人和女票<br>🍲争取做好每一道菜，像写好每一行代码一样<br>🏃运动</p>\n<h3 id="1-">1. 斜体和粗体</h3>\n<p>使用 * 和 ** 表示斜体和粗体。</p>\n<p>示例：</p>\n<p>这是 <em>斜体</em>，这是 <strong>粗体</strong>。</p>\n<h3 id="2-">2. 标题</h3>\n<p>使用 #加空格表示一级标题，同理，##加空格表示二级标题</p>\n<h1 id="-">一级标题</h1>\n<h2 id="-">二级标题</h2>\n<h3 id="-">三级标题</h3>\n<h4 id="-">四级标题</h4>\n<h5 id="-">五级标题</h5>\n<h6 id="-">六级标题</h6>\n<h3 id="3-">3. 外链接</h3>\n<p>使用 [描述](链接地址) 为文字增加外链接。</p>\n<p>示例：</p>\n<p>这是去往 <a href="http://hvenotes.fehey.com">Hve Notes 主页</a> 的链接。</p>\n<h3 id="4-">4. 无序列表</h3>\n<p>使用 - 表示无序列表。</p>\n<p>示例：</p>\n<ul>\n<li>无序列表项 一</li>\n<li>无序列表项 二</li>\n<li>无序列表项 三</li>\n</ul>\n<h3 id="5-">5. 有序列表</h3>\n<p>使用数字和点表示有序列表。</p>\n<p>示例：</p>\n<ol>\n<li>有序列表项 一</li>\n<li>有序列表项 二</li>\n<li>有序列表项 三</li>\n</ol>\n<h3 id="6-">6. 文字引用</h3>\n<p>使用 &gt; 表示文字引用。</p>\n<p>示例：</p>\n<blockquote>\n<p>野火烧不尽，春风吹又生。</p>\n</blockquote>\n<h3 id="7-">7. 行内代码块</h3>\n<p>使用 `代码` 表示行内代码块。</p>\n<p>示例：</p>\n<p>让我们聊聊 <code>html</code>。</p>\n<h3 id="8-">8.  代码块</h3>\n<p>使用 四个缩进空格 或 ``` 表示代码块。</p>\n<p>示例：</p>\n<pre><code>这是一个代码块，此行左侧有四个不可见的空格。</code></pre><h3 id="9-">9.  插入图像</h3>\n<p>使用 ![描述](图片链接地址) 插入图像。</p>\n<p>示例：</p>\n<p><img src="https://avatars3.githubusercontent.com/u/46315806?s=200&v=4" alt="我的头像"></p>\n<h2 id="-">测试代码</h2>\n<pre><code class="language-javascript">function hello() {\n    var username = &#39;xiaoming&#39;;\n    var age = 18;\n    console.log(&#39;Hello World&#39;);\n}\nhello()</code></pre>\n<h2 id="-">表格示例</h2>\n<table>\n<thead>\n<tr>\n<th>一个普通标题</th>\n<th>一个普通标题</th>\n<th>一个普通标题</th>\n</tr>\n</thead>\n<tbody><tr>\n<td>短文本</td>\n<td>中等文本</td>\n<td>稍微长一点的文本</td>\n</tr>\n<tr>\n<td>稍微长一点的文本</td>\n<td>短文本</td>\n<td>中等文本</td>\n</tr>\n</tbody></table>\n<table>\n<thead>\n<tr>\n<th align="left">左对齐标题</th>\n<th align="right">右对齐标题</th>\n<th align="center">居中对齐标题</th>\n</tr>\n</thead>\n<tbody><tr>\n<td align="left">短文本</td>\n<td align="right">中等文本</td>\n<td align="center">稍微长一点的文本</td>\n</tr>\n<tr>\n<td align="left">稍微长一点的文本</td>\n<td align="right">短文本</td>\n<td align="center">中等文本</td>\n</tr>\n</tbody></table>\n',
     fileName: '2018-nian-zhong-zong-jie',
     abstract: '<p>📃又到了一年一度的<strong>年终总结</strong>，这是参加工作的第一个完整年。</p>\n',
     title: '2018 年终总结',
     tags: [
        { name: '年终总结',
          used: true,
          slug: 'nian-zhong-zong-jie',
          link:
          '/Users/haoeryou/Documents/hve-notes/output/tag/nian-zhong-zong-jie/index.html' }
     ],
     date: '2019-01-14 00:00:00',
     dateFormat: '2019-01-14',
     feature:
      'https://fehey.com/post-images/yu-jian-chuang-zuo-yu-jian-hve-notes.png',
     link:
      '/Users/haoeryou/Documents/hve-notes/output/post/2018-nian-zhong-zong-jie/index.html',
     hideInList: false,
     nextPost:
      { content:
         '<p>铛铛铛，喜大普奔，Hve Notes 主页上线啦！  </p>\n<!-- more -->\n\n<p>📢小二，上链接<br><a href="http://hvenotes.fehey.com/">Hve Notes</a></p>\n<p>主页网站 用了 <a href="https://vuepress.vuejs.org/zh/">Vuepress</a> 快速搭建，搭配了 <a href="http://fehey.com/live/">Live UI</a> 一起食用</p>\n<p>你可以再这里找到文档，快速上手 Hve Notes</p>\n<p>未来，即将丰富的主题、备份同步等功能都将更新在文档中</p>\n<p>😘 Enjoy~</p>\n',
        fileName: 'hve-notes-zhu-ye-shang-xian-la',
        abstract: '<p>铛铛铛，喜大普奔，Hve Notes 主页上线啦！  </p>\n',
        title: 'Hve Notes 主页上线啦',
        tags: [Array],
        date: '2019-01-01 08:00:00',
        dateFormat: '2019-01-01',
        feature:
         'file:////Users/haoeryou/Documents/hve-notes/output/post-images/hve-notes-zhu-ye-shang-xian-la.png',
        link:
         '/Users/haoeryou/Documents/hve-notes/output/post/hve-notes-zhu-ye-shang-xian-la/index.html',
        hideInList: false } }
  var themeConfig =
   { archivesPageSize: 50,
     dateFormat: 'YYYY-MM-DD',
     footerInfo:
      'Powered by <a href="https://github.com/hve-notes/hve-notes" target="_blank" style="color: #f1f3f5;">Hve Notes</a>',
     postPageSize: 10,
     postUrlFormat: 'SLUG',
     showFeatureImage: true,
     siteDescription: '温故而知新',
     siteName: 'Hve Notes',
     tagUrlFormat: 'SHORT_ID',
     themeName: 'notes',
     domain: '/Users/haoeryou/Documents/hve-notes/output' }
  var commentSetting =
   { commentPlatform: 'gitalk',
     disqusSetting:
      { api: '',
        apikey:
         'Dme6Hy8bOI2wogDrC0DAKkwNlkXKhSMManrEUlpfYQR8d1pMd8rhay6ZobUtdY8V',
        shortname: 'hve-notes' },
     gitalkSetting:
      { clientId: 'd92da8e33c82c229d9b4',
        clientSecret: '861947e68c7afff00e919fbf7dff8a105c365d33',
        owner: 'EryouHao',
        repository: 'EryouHao.github.io' },
     showComment: true }
%>

<!DOCTYPE html>
<html>
  <head>
    <%- include('./_blocks/head', { siteTitle: `${post.title} | ${themeConfig.siteName}` }) %>
  </head>
  <body>
    <div id="app" class="main">

      <%- include('./_blocks/sidebar') %>

      <div class="main-container">
        <div class="content-container" data-aos="fade-up">
          <div class="post-detail">
            <h2 class="post-title"><%= post.title %></h2>
            <div class="post-date"><%= post.dateFormat %></div>
            <% if (post.feature) { %>
              <div class="feature-container" style="background-image: url('<%= post.feature %>')">
              </div>
            <% } %>
            <div class="post-content">
              <%- post.content %>
            </div>
            <% if (post.tags.length > 0) { %>
              <div class="tag-container">
                <% post.tags.forEach(function(tag, index) { %>
                  <a href="<%= tag.link %>" class="tag">
                    <%= tag.name %>
                  </a>
                <% }); %>
              </div>
            <% } %>
            <% if (post.nextPost && !post.hideInList) { %>
              <div class="next-post">
                <div class="next">下一篇</div>
                <a href="<%= post.nextPost.link %>">
                  <h3 class="post-title">
                    <%= post.nextPost.title %>
                  </h3>
                </a>
              </div>
            <% } %>

            <% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
              <% if (commentSetting.commentPlatform === 'gitalk') { %>
                <div id="gitalk-container" data-aos="fade-in"></div>
              <% } %>

              <% if (commentSetting.commentPlatform === 'disqus') { %>
                <div id="disqus_thread" data-aos="fade-in"></div>
              <% } %>
            <% } %>

          </div>

        </div>
      </div>
    </div>

    <%- include('./_blocks/scripts') %>
  </body>
</html>
